.challenge-options {
  tab-size: 2;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.challenge-option {
  font-size: 1.5rem;
  padding: 1.5rem;
  cursor: pointer;
}
.challenge-option:hover {
  background-color: #434C51;
}
.challenge-option.wrong {
  background-color: #633;
}
.challenge-option.right {
  background-color: #3d7;
}

.doge {
  font-size: 4rem;
  text-align: center;
  width: 8*4rem;
  margin-left: -4*4rem;
  margin-top: -2rem;
  font-family: Comic Sans, Comic Sans MS, cursive;
  pointer-events: none;
}
